    table.toggle-table {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        text-align: center;
    }
    
    td,
    th {
        padding: 10px 20px;
        width: 70px;
        vertical-align:top;
    }
    
    img.icon {
        height: 120px;
    }
    
    @media (max-width:768px) {
        .masthead {
            background-image: url("../masthead_xs.PNG");
            height: 500px;
        }
        .guide {
            background-image: url("../guide.jpg");
            height: 200px;
        }
    }
    
    @media (min-width:768px) {
        .masthead {
            background-image: url("../masthead.jpg");
            height: 200px;
        }
        .guide {
            background-image: url("../guide.jpg");
            height: 200px;
        }
    }
    
    @media (min-width:900px) {
        .masthead {
            height: 300px;
        }
        .guide {
            background-image: url("../guide.jpg");
            height: 250px;
        }
    }
    
    @media (min-width:1200px) {
        .masthead {
            height: 400px;
        }
        .guide {
            background-image: url("../guide.jpg");
            height: 250px;
        }
    }
    
    .masthead {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        margin-bottom: 10px;
        margin-top: -30px;
    }
    
    .guide {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        margin-bottom: -35px;
        margin-top: -55px;
    }
    
    .drop-shadow {
        -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    }
    
    .visible1 {
        opacity: 1;
        -moz-opacity: 1;
        -webkit-opacity: 1;
    }